<footer>

</footer>

{# Modal for selecting language #}
<div class='modal fade' id='selectLanguageModal' tabindex='-1' role='dialog' aria-labelledby='selectLanguageModalLabel'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='selectLanguageModalLabel'>{{ 'Select language'|trans }}</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='{{ 'Close'|trans }}'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div id='selectLanguageForm' class='modal-body' data-wait='{{ 'Please wait…'|trans }}'>
        <label for='langSelect' class='col-form-label'>{{ 'Language'|trans }}</label>
        <select class='form-control' id='langSelect'>
          {% for lang, text in langsArr|sort %}
            <option value='{{ lang }}'
            {{- App.getLang() == lang ? ' selected' -}}
            >{{ text }}</option>
          {% endfor %}
        </select>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-ghost' data-dismiss='modal'>{{ 'Cancel'|trans }}</button>
        <button type='button' data-action='select-lang' data-dismiss='modal' class='btn btn-primary'>{{ 'Save'|trans }}</button>
      </div>
    </div>
  </div>
</div>


</div>{# end container #}
</div>{# end real-container #}

<div id='user-prefs'
  data-lang='{{ App.getLang }}'
  data-jslang='{{ App.getJsLang }}'
  data-isodate='{{ App.Session.has('is_auth') ? App.Users.userData.use_isodate : '0' }}'
  data-sc-search='{{ App.Users.userData.sc_search|default('s') }}'
  data-sc-todolist='{{ App.Users.userData.sc_todo|default('t') }}'
  data-sc-create='{{ App.Users.userData.sc_create|default('c') }}'
  data-sc-edit='{{ App.Users.userData.sc_edit|default('e') }}'
  data-sc-favorite='{{ App.Users.userData.sc_favorite|default('f') }}'
  data-sc-disabled='{{ App.Users.userData.disable_shortcuts|default('0') }}'
  ></div>

{% if App.Session.has('is_auth') %}
  {# this is here for the heartbeat #}
  <div id='is-auth'></div>
{% endif %}

{# Modal for policies #}
<div class='modal fade' id='policiesModal' tabindex='-1' role='dialog' aria-labelledby='policiesModalLabel'>
  <div class='modal-dialog modal-xl' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        {# "placeholder" will be replaced with real title by js upon data-action='show-policy' #}
        <h5 class='modal-title' id='policiesModalLabel'>placeholder</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='{{ 'Close'|trans }}'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body' id='policiesModalBody'>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>{{ 'Close'|trans }}</button>
      </div>
    </div>
  </div>
</div>
{# end policies policy modal #}
{# some 3rd party tools append content to the end but we don't want to see those errors #}
{%- if App.Config.configArr.debug and mode == 'edit' -%}
  <!-- [html-validate-disable input-missing-label, heading-level, no-dup-id, prefer-native-element, wcag/h37, no-redundant-role: suppress errors from 3rd party tools] -->
{%- endif %}
</body>
</html>
<!-- Made in France | Liberté, Égalité, Fraternité -->
